attrs==25.1.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
exceptiongroup==1.2.2
Flask==3.1.0
flask-marshmallow==1.3.0
Flask-WTF==1.2.2
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
marshmallow==3.26.1
packaging==24.2
pluggy==1.5.0
pytest==8.3.4
referencing==0.36.2
requests==2.32.3
rpds-py==0.22.3
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.3.0
waitress==3.0.2
Werkzeug==3.1.3
WTForms==3.2.1
